extends layout



block content
  .container
    h2(style='font-weight:bold').text-right WYŻSZA SZKOŁA
    h2(style='font-weight:bold').text-right INFORMATYKI i ZARZĄDZANIA 
    h2(style='font-weight:bold').text-right z siedzibą w Rzeszowie
    br
    br
    h2(style='font-weight:bold').text-center WYDZIAŁ INFORMATYKI STOSOWANEJ
    br
    br
    br
    h2(style='font-weight:bold').text-center Kierunek: Informatyka
    h2(style='font-weight:bold').text-center Specjalność: Programowanie
    br
    br
    br
    h3.text-center Myhailo Nohas	
    h3.text-center 49144 
    br
    br
    h2(style='font-weight:bold').text-center Aplikacja "Blockchain MN". Zastosowanie technologii blockchain w biznesie
    br
    br
    h4.text-center Promotor: dr inż. Leszek Gajecki
    br
    br
    br
    h2(style='font-weight:bold').text-center PRACA DYPLOMOWA INŻYNIERSKA
    br
    br
    br
    h2(style='font-weight:bold').text-center Rzeszów 2018
